<!-- Footer -->
<div class="footer" {# style = "position: fixed;" #}>
    <div class="container">
        <div class="information-block">
            <div class="row">
                <div class="box col-12 col-md-3 col-lg-3 public-services {# mx-auto #}">
                    <p class="title">Personnes recherchées</p>
                    <div>
                        <img src="{{asset('build/images/i_bg_white.svg')}}" alt="">
                        <a href="{{path('app_about_action')}}">
                            A Propos
                        </a>		
                    </div>
                    {# <div>
                        <img src="{{asset('build/images/phone.svg')}}" alt="">
                        <a href="#">
                            Nous contacter
                        </a>		
                    </div> #}
                </div>
                {# <div class="box col-12 col-md-3 col-lg-5 contribuate">
                    <p class="title">Contribuer</p>
                    <div>
                        <img src="{{asset('build/images/mail.svg')}}" alt="">
                        <a href="#">
                            Faire une suggestion
                        </a>		
                    </div>
                    <div>
                        <img src="{{asset('build/images/pencil.svg')}}" alt="">
                        <a href="#">
                            Signaler un problème
                        </a>	
                    </div>
                </div>
                <div class="box col-12 col-md-6 col-lg-4 social-media">
                    <p class="title">Suivez-nous sur</p>
                    <div>
                        <img src="{{asset('build/images/facebook.svg')}}">
                        <img src="{{asset('build/images/twitter.svg')}}">
                        <img src="{{asset('build/images/youtube.svg')}}">
                    </div>
                </div> #}
            </div>
            <div class="copyright">
                <p class="text-center">© 2019 Ministère de la Justice et de la Législation. Tout droit réservé</p>
            </div>
        </div>
    </div>
</div>